@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@100;300&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
}

/* Estilos para el ícono del Menú */
.icono-menu{
    margin: 20px 30px;
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 20px;
    cursor: pointer;
    z-index: 1;
}

/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: rgba(0, 0, 0, 0.265);
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 1;
}

/* Estilos por agregar en JavaScript */
.active{
    transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 140px 0px 20px 0px;
    list-style: none;
    background: black;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(111 72 37);
}
.cont-menu ul:hover{
    
}
.cont-menu ul a{
    color: white;
    display: block;
    font-size: 23px;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}
nav {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  nav li {
    width: max-content;
    font-family: 'Montserrat', sans-serif;
  }
  nav li:hover {
    border-bottom: #000000 solid;
    background-color: rgb(89, 43, 3);
    color: #f7f7f7;
  }

  nav a {
    color: #000000;
    text-decoration: none;
    border-radius: 0.25rem;
    display: flex;
    height: 30px;
  }

  nav a:hover,
  nav a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f7f7f7;
    
  }

  .section {
    display: none;
    padding: 1rem;
  }

  .section.active2 {
    display: block;
  }

  .logo {
    width: 160px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .typeFood{
    font-family: 'Montserrat', sans-serif;
}

.publish{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
  }
  .publish img{
    width: 80%;
  }

  @media screen and (min-width: 600px) and (max-width: 2980px) {
    .active {
        transform: translate(-2000px);
    }
    
  }






  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto+Mono:wght@100&display=swap');

#container,#container2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;

}
.product {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: solid 0.05px rgba(128, 128, 128, 0.374);
}
.product h4 {
  font-family: 'Montserrat', sans-serif;
  color: brown;
  max-width: 100%;
  margin-bottom: 10px;
}
.product p {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  max-width: 100%;
  margin-bottom: 10px;
}


.product img {
  max-width: 100%;
  margin-bottom: 10px;
}

.name-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-container {
  display: flex;
  flex-direction: column;
}
.price-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.new {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
}
.typeFood{
  display: flex;
  margin-left: 30px;
}

nav {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

nav a:hover,
nav a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.section {
  display: none;
  padding: 1rem;
}

.section.active {
  display: block;
}